  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: #E3E5EB;
      font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: #369;
  }
  .note {
    width: 100%;
    margin: 50px auto;
    font-size: 1.1em;
    color: #333;
    text-align: justify;
  }
  #drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    margin: 50px auto;
    padding: 142px;
  }
  #drop-area.highlight {
    border-color: purple;
  }
  p {
    margin-top: 0;
  }
  