* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #E3E5EB;
    font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.container {
	width: 90%;
	max-width: 900px;
}

.products-container {
	background: #F3F5FA;
	box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);
	border-radius: 10px;
}

.products-container  h1, .products-container .total-price {
	text-transform: uppercase;
	font-size: 20px;
	background: #fff;
	height: 100px;
	display: flex;
	align-items: center;
	padding: 40px;
	border-radius: 10px 10px 0 0;
	margin-bottom: 0;
}

.products {
	padding: 40px;
	width: 100%;
}

.dropped-products {
	padding: 40px;
	width: 100%;
}

.products .product, .dropped-products .product, .total .product {
	background: #fff;
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr;
	align-items: center;
	padding: 8px;
	border-radius: 10px;
	margin-bottom: 20px;
	cursor: move;
	
}


.products .dropped-products {
	background: #fff;
	grid-template-columns: auto 1fr 1fr 1fr;
	align-items: center;
	padding: 8px;
	border-radius: 10px;
	margin-bottom: 20px;
	cursor: move;
	overflow: scroll;
	
}

.products .product.selected {
	transform: scale(1.02) rotate(-1deg);
	box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);
	
}

.products .product.ghost {
	border: 2px dotted #000;	
}

.products .product.drag {
	opacity: 0;
}



.product .label, .item .label{
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 5px;
	color: #5173CF;
}

.product .data, .item .label{
	font-weight: bold;
	font-size: 20px;
}

.product .picture img {
	width: 70px;
	border-radius: 100%;
	margin-right: 40px;
}

.caption {
    text-align:center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: x-large;
}